# Exclude all top-level hidden directories by convention
/.*/

__mocks__
__tests__

/babel.config.js
/android/src/androidTest/
/android/src/test/
/android/build/
/example/

# exclude all tgz
/*.tgx

# Exclude frameworks
/ios/Frameworks
/android/libs

# Excluding yarn.lock causes the local build to fail.
# This is because the build is done on the host machine.
!yarn.lock
